.chat-main
  .chat-main__group-info
    .current-group
      .current-group__name
      = @group.name
      .current-group__member
        Member: 
        - @group.users.each do |u|
          = u.name
    = link_to edit_group_path(@group), class: "edit-btn" do
      Edit

  .chat-main__message-list
    = render @messages



  .chat-main__form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        .input-mask
          = f.label :image, class: 'input-image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-image-file'
      = f.submit 'Send', class: 'submit-btn'
