.side-bar
  .side-bar__top
    .items
      .items__name
        = current_user.name
      %ul.items__icons
        %li<>
        = link_to new_group_path, class: "items__icons__btn" do
          = icon('far', 'edit')
        %li<>
        = link_to edit_user_path(current_user), class: "items__icons__btn" do
          = icon('fas', 'cog')

  
  .side-bar__group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "group-lists" do
        %p.a_group
          = group.name
        %p.a_message
          = group.show_last_message